In [1]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_dataframe = pandas.read_csv('train.csv')
train_dataframe.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
feature_names = train_dataframe.columns[1:]
null_values = np.zeros((feature_names.size))

for idx,c in enumerate(feature_names):
    null_values[idx] = train_dataframe[c].isnull().sum() / train_dataframe[c].size

idx = (-null_values).argsort()
feature_names = feature_names[idx]
null_values = null_values[idx]

for f, n in [ (f,n) for (f,n) in zip(feature_names,null_values) if n > 0.0]:
    print('%-13s %6.4f' % (f,n))

PoolQC        0.9952
MiscFeature   0.9630
Alley         0.9377
Fence         0.8075
FireplaceQu   0.4726
LotFrontage   0.1774
GarageType    0.0555
GarageYrBlt   0.0555
GarageQual    0.0555
GarageCond    0.0555
GarageFinish  0.0555
BsmtExposure  0.0260
BsmtFinType2  0.0260
BsmtFinType1  0.0253
BsmtCond      0.0253
BsmtQual      0.0253
MasVnrArea    0.0055
MasVnrType    0.0055
Electrical    0.0007

In [4]:
train_dataframe['PoolQC'].value_counts()

Gd    3
Fa    2
Ex    2
Name: PoolQC, dtype: int64

In [6]:
train_dataframe['PoolArea'].value_counts()

0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64

In [20]:
# categorical pool 
train_dataframe['PoolQC'] = train_dataframe['PoolQC'].fillna('Unknown')

PoolQC
Ex         533.5
Fa         583.5
Gd         598.0
Unknown      0.0
Name: PoolArea, dtype: float64

In [4]:
train_dataframe.dropna(axis=1, how='any', inplace=True)
train_dataframe.head()

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [5]:
class_labels={}
for c in ('MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope'):
    class_labels[c] = train_dataframe[c].unique()

In [6]:
for (k,v) in class_labels.items():
    print('%-11s %s' % (k,v))

MSZoning    ['RL' 'RM' 'C (all)' 'FV' 'RH']
Street      ['Pave' 'Grvl']
LotShape    ['Reg' 'IR1' 'IR2' 'IR3']
LandContour ['Lvl' 'Bnk' 'Low' 'HLS']
Utilities   ['AllPub' 'NoSeWa']
LotConfig   ['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
LandSlope   ['Gtl' 'Mod' 'Sev']